* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.blender {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 500px;
  background-image: url("../img/licuadoraApagada.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.blender.active {
  background-image: url("../img/licuadoraEncendida.gif");
}
.blender-button {
  margin: 365px auto 0px;
  width: 37px;
  height: 55px;
  background-color: transparent;
}
